* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

.hidden {
    display: none !important;
}

.main {
    position: relative;
    height: 100%;
    display: flex;
    background: hsl(0, 0%, 95%);
    font-size: 1.5em;
}

.main__partition {
    margin: 5px;
    padding: 5px;
    flex: 1 0 0;
    overflow-y: auto;
    background: white;
}

.folder-tree-toggle {
    position: absolute;
    left: 10px;
    bottom: 10px;
    padding: 5px;
}

.bookmark-folder-content {
    list-style: none;
}

/* Bookmark Tree Node */
.bmtn {
    display: block;
}
.bmtn:hover {
    background-color: hsl(240, 100%, 50%, 0.1);
}

.bmtn_separator:hover {
    background-color: transparent;
}
