* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

.hidden {
    display: none !important;
}

.main {
    position: relative;
    height: 100%;
    display: flex;
    background: hsl(0, 0%, 95%);
    font-size: 1.5em;
    font-family: sans-serif;
}

.main__partition {
    padding: 10px;
    flex: 1 0 0;
    overflow-y: auto;
    background: white;
}

.folder-tree-toggle {
    position: absolute;
    left: 10px;
    bottom: 10px;
    padding: 5px;
}

.bookmark-folder-content {
    list-style: none;
}

/* Bookmark Tree Node */
.bmtn {
    position: relative;
    display: flex;
}
.bmtn:focus,
.bmtn:hover {
    background-color: hsl(240, 100%, 50%, 0.1);
}
.bmtn:focus {
    outline: 0;
}

.bmtn_separator {
    line-height: 0.6em;
}
.bmtn_separator:hover {
    background-color: transparent;
}

.bmtn > * {
    margin: 0 3px;
}

.bmtn__button-set {
    width: 3em;
    opacity: 0;
}
.bmtn:hover .bmtn__button-set {
    opacity: 1;
}

.bmtn__button {
    width: 2em;
    height: 2em;
    font-size: 0.5em;
    padding: 0;
}

.bmtn__body {
    flex: 1 1 auto;
    display: flex;
    text-decoration: none;
}

.bmtn__body > * {
    margin: 0 2px;
}

.bmtn_bookmark .bmtn__body {
    color: hsl(120, 100%, 25%);
}

.bmtn_folder .bmtn__body {
    color: hsl(230, 100%, 50%);
}

.bmtn_separator .bmtn__title {
    margin: auto;
    width: 100%;
    border-color: #eee;
}

.bmtn__icon {
    width: 1em;
}

.bmtn_bookmark .bmtn__icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bmtn_folder .bmtn__icon {
    width: 1.4em;
    font-size: 0.8em;
}
